/* Across Multi*/
h1 {
  text-align: center;
}

.my-2 {
  justify-content: center;
}

/* CompanyDetail & Jobs Component*/
.company-card-name {
  margin-top: 2%;
}

.all-jobs {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
}

/* CompanyList Component */

.all-companies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

